header {
    position: relative;
    width: 80%;
    max-width: 1600px;
    height: 80px;
    margin: 30px auto;
    background-color: #f4e4bc;
    background-image: linear-gradient(to bottom, #e6d5ac, #f4e4bc 15%, #f4e4bc 85%, #c0ad86);
    border-top: 2px solid #f7efd2;
    border-bottom: 3px solid #a89573;
    box-shadow: 0 8px 15px rgba(0,0,0,0.4);
}

header::before, header::after {
    content: '';
    position: absolute;
    top: -8px;
    bottom: -8px;
    width: 25px;
    background: linear-gradient(to right, #c0ad86, #f7efd2, #a89573);
    border-radius: 5px;
    border: 2px solid #8c7853;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

header::before {
    left: -15px;
}

header::after {
    right: -15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
}