.brand-section {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 600px;               
    margin-top: 50px;        
}

.hero-logo {
    width: 1000px;            
    height: auto;
    /*position: relative;*/
    z-index: 2;
    filter: drop-shadow(0 10px 15px rgba(0,0,0,0.5)); 
    transform: translate(-50px, 200px);
}

.hero-character {
    position: absolute;
    width: 1000px;            
    height: auto;
    z-index: 1;
}

.hero-character:first-child {
    left: -5%;
    top: -150px;    
}

.hero-character:last-child {
    right: 3%;     
    top: -100px;
}