* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}

.container-interface {
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.interactive-object {
    position: absolute;
    z-index: 10;
}

.glow-img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    /*border: 2px solid red;*/
}

.glass {
    top: 16.8%;
    left: 64.7%;
    width: 225px;
}

.hotspot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 20;
}

.interactive-object:hover .glow-img {
    opacity: 1;
}

.book {
    top: 50.4%;
    left: 37.3%;
    width: 420px;
}

.ball {
    top: 70%;
    left: 27%;
    width: 179px;
}

.bed {
    top: 39.6%;
    left: 5%;
    width: 770px;
}

.skin {
    top: 74.6%;
    left: 82%;
    width: 325px;
}